@model List<LinePatrolListado>
<table class="table">
        <thead>
           @if (Model.Any())
{
          <tr>
            <th>Planta</th>
            <th>Linea</th>
            <th>Estación</th>
            <th>Hallazgo</th>
            <th>Corrección</th>
            <th>Comentario</th>
            <th>Responsable</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th></th>
          </tr>
          }
        </thead>
        <tbody>
            @if (Model.Any())
{
          @foreach (var item in Model)
          {
            <tr>
              <td>@item.id_planta?.ToUpper()</td>
              <td>@item.id_linea</td>
              <td>@item.id_estacion</td>
              <td><img  src="@item.path_imagen" alt="" width="50px" height="50px" alt="Card image cap" loading="lazy"
                  style="aspect-ratio: 16/9;object-fit:cover;cursor:pointer;border-radius:7px" id="imgImagenHallazgo"></td>
              <td>
                @if (@item.path_imagen_after != null)
    {
        <img src="@item.path_imagen_after" alt="Card image cap" width="50px" height="50px" loading="lazy"
             style="aspect-ratio: 16/9; object-fit: cover; cursor: pointer; border-radius: 7px" id="imgImagenCorreccion">
    }
    else
    {
        <span></span>
        @* <i  class="fa fa-image icon text-danger" style="font-size: 50px; color: var(--ColorExtra);"></i> *@
    } </td>
              <td id="comentario" style="max-width: 300px;">
                <p class="card-text-small" title="@item.comentario">
                  @item.comentario
                </p>
              </td>
              <td style="max-width: 150px;">
                <p  class="card-text-small" title="@item.responsable">
                  @item.responsable
                </p>
              </td>
              <td>
                 <small title="@item.created_at_f">@item.created_at</small>
              </td>
              <td>
                @if (item.estado != null)
                {

                   @if (@item.path_imagen_after != null && item.estado != false){
                    <p class="text-warning">En proceso</p>
                   }else{
                    <p class="right @(item.estado.Value ? "activo" : "finalizado")">
                    @(item.estado.Value ? "Pendiente" : "Liberado")
                  </p>
                   }
                  

                }
              </td>
              
              <td>
                <div class="container-button-liberar">
                @if (item.estado != null)
                {
                  @if(item.estado == true){
                    @if(@item.path_imagen_after != null){
                       <button class="btn btn-success btn-sm" id="btnLiberarP" name="@item.id">Liberar</button>
                       <p style="display: none;">@item.path_imagen_after</p>
                    }else{
                       <button class="btn btn-warning btn-sm" id="btnCorregirP" name="@item.id">Corregir</button>
                    }
                    
                  }else{
                    <button class="btn btn-success btn-sm" id="btnInfoLiberarP" name="@item.path_imagen_after">liberación</button>
                    <p style="display: none;" id="perosnaLiberaHide">@item.persona_libera</p>
                    <p style="display: none;" id="fechaLiberacion">@item.updated_at_f - @item.updated_at</p>
                  }

                 

                }
                
                
              </div>
              </td>

              @* <td>
            <a asp-action="Producto" asp-controller="Home" asp-route-idProducto="@item.id"
            class="btn btn-primary btn-sm">Editar</a>
            <a asp-action="Eliminar" asp-controller="Home" asp-route-idProducto="@item.id"
            class="btn btn-danger btn-sm">Eliminar</a>
            </td> *@
            </tr>
          } 
          }
        else
{
    <td><p>No hay registros disponibles.</p></td>
}
          
          
        </tbody>
        
      </table>


      <div class="container-card-item">
        @if (Model.Any())
{
        @foreach (var item in Model)
        {
          <div class="card item">
            <img class="card-img-top" src="@item.path_imagen" alt="Card image cap" loading="lazy" />
            <div class="card-body">
              <div class="container-description">
                @* <p id="idHide" style="display: none;">@item.id</p> *@
                <p>Planta:</p>
                <p class="right">@item.id_planta</p>
                <p>Linea:</p>
                <p class="right">@item.id_linea</p>
                <p>Estación:</p>
                <p class="right">@item.id_estacion</p>
                <p>Responsable:</p>
                <p class="right">@item.responsable</p>
                <p>Estado:</p>
                @if (item.estado != null)
                {
                    @if (@item.path_imagen_after != null && item.estado != false){
                    <p class="text-warning" style="text-align: right;">En proceso</p>
                   }else{
                    <p class="right @(item.estado.Value ? "activo" : "finalizado")">
                    @(item.estado.Value ? "Pendiente" : "Liberado")
                  </p>
                   }

                }

                

              </div>
              
              
              <p>Comentario:</p>
              <p class="card-text">
                @item.comentario
              </p>
              <hr>
              <div class="container-button-liberar">
                @if (item.estado != null)
                {
                  @if(item.estado == true){
                    @if(@item.path_imagen_after != null){
                       <button class="btn btn-success btn-sm" id="btnLiberarP" name="@item.id">Liberar</button>
                       <p style="display: none;">@item.path_imagen_after</p>
                    }else{
                       <button class="btn btn-warning btn-sm" id="btnCorregirP" name="@item.id">Corregir</button>
                    }
                  }else{
                    <button class="btn btn-success btn-sm" id="btnInfoLiberarP" name="@item.path_imagen_after">liberación</button>
                    <p style="display: none;" id="perosnaLiberaHide">@item.persona_libera</p>
                    <p style="display: none;" id="fechaLiberacion">@item.updated_at_f - @item.updated_at</p>
                  }

                  <div style="display: flex;flex-direction:column;">
                     <small>@item.created_at_f</small>
                     <small style="margin-left: auto;">@item.created_at</small>
                  </div>
                 

                }
                
              </div>
            </div>
          </div>
        }
        }
        else
{
    <p>No hay registros disponibles.</p>
}
      </div>