@model List<LinePatrolM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>


<div class="card">
    <div class="card-header">
        Lista de tareas
    </div>
    <div class="card-body">

        <a asp-action="GuardarCambios" asp-controller="Tarea" class="btn btn-success btn-sm">Nuevo producto</a>
        @*<a asp-action="test" asp-controller="Home" class="btn btn-success">test</a>*@
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id planta</th>
                    <th>Id linea</th>
                    <th>Id estacion</th>
                    <th>path</th>
                    <th>comentario</th>

                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.id</td>
                        <td>@item.id_planta</td>
                        <td>@item.id_linea</td>
                        <td>@item.id_estacion</td>
                        <td>@item.path_imagen</td>
                        <td>@item.comentario</td>

                        <td>
                            <a asp-action="Producto" asp-controller="Home" asp-route-idProducto="@item.id" class="btn btn-primary btn-sm" >Editar</a>
                            <a asp-action="Eliminar" asp-controller="Home" asp-route-idProducto="@item.id" class="btn btn-danger btn-sm" >Eliminar</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script>
    @* fetch('/Tarea/Index')
  .then(response => {
    if (!response.ok) {
      throw new Error('Hubo un problema al obtener los datos.');
    }
    return response.json(); // O response.json() si esperas datos en formato JSON
  })
  .then(data => {
    // Manejar los datos recibidos
    console.log(data);
  })
  .catch(error => {
    console.error('Error:', error);
  }); *@

</script>